.formmoal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100066600006;
  background-color: rgba(0, 0, 0, 0.51);
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 10px 0;
  align-items: center;
  transition: 0.4s;
}

button {
  outline: none;
  border: none;
}

.formmoal .form {
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90vw;
  padding: 15px;
  border-radius: 5px;
  height: 94vh;
  overflow-y: scroll;
  height: max-content;
}

.formmoal .head h6 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--blue);
}

.fields {
  display: flex;
  margin: 5px 0;
  flex-direction: column;
}

.fields span {
  font-size: 15px;
  color: var(--red);
}

.field {
  margin: 5px 0;
}

.field label {
  display: block;
  font-size: 13px;
  padding: 0;
  color: var(--dark-grey);
}

.field input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex .field {
  width: 100%;
  margin: 9px 0;
}

.field select {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.field textarea {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  outline: none;
  border: none;
  margin-top: 14px;
  
}

.btn__calto {
  margin: 15px 5px;
  padding: 10px 10px;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  outline: none;
  border: 1px solid var(--light);
}
