@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&;600;700display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --PrimaryColor: hsl(193, 59%, 35%);
  --HoverColor: hsl(223.45, 100%, 94.31%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 90%, 98%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.75rem;
  --h2FontSize: 1.5rem;
  --h3FontSize: 1.25rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

html {
  font-size: 90%;

}

.choosefile {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--inputColor);
  padding: .8rem 1rem;
  color: var(--textColor);
}

.btn .icon {
  margin-left: .5rem;
}

.btn:hover {
  background: var(--paleGreen);
  color: var(--PrimaryColor);
}

.container {

  margin: 1rem auto;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 95vw;
  height: 95vh;

  align-items: center;
  background-color: rga(248, 248, 248);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px var(--greyText);

  .mainContent {
    width: 82%;
    height: 100%;
    overflow: auto;
    padding: 2rem;
    
    
    .mainContent1 {
      
      .bottom {
        justify-content: flex-start;
    
        margin-top: 0.5rem;
        gap: 2rem;
        align-items: flex-start;
      }

      
      padding-right: 2rem;
    }

  }
}

::-webkit-scrollbar {
  display: none;
}